
.card-container {
    
    background-color: bisque;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

}
.card-container:hover{
    transform: scale(1.05);
}
@media screen and (max-width:480px) {
   .card-container{
      
       width: 100%;
   }
}
@media  screen and (max-width:768px)  and (min-width:481px){
    .card-container{
        width: 100%;
        
    }
}

@media screen and (max-width:1024px)  and (min-width:769px) {
    .card-container{
        width: 100%;
        
    }
}
